<!DOCTYPE html>
<head>
<link type="text/css" rel="stylesheet" href="personal_site.css"/>

<title>Rina Roosevelt</title>

</head>
<body>
<h1>Rina Roosevelt</h1>

<br>

<nav>
    <ul>
        <li>
            <a href="/games">Games</a>
        </li>
        <br>
        <li>
            <a href="/websites">Websites</a>
        </li>
        <br>
        <li>
            <a href="/videos">Videos</a>
        </li>
        <br>
        <li>
            <a href="/music">Music</a>
        </li>
    </ul>
</nav>
<br>
<img src="https://scontent.xx.fbcdn.net/hphotos-ash2/v/t1.0-9/580186_623738170970263_384377565_n.jpg?oh=bd3587b08239af7d5ef18170fab93b94&oe=5643D457" height="250" width="250">

</body>